
#u604.c {
  width:285px;
}
#u605.c {
  left:432px;
  top:3184px;
}
#u605_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:56px;
  background:inherit;
  background-color:rgba(139, 195, 74, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  -webkit-box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  box-shadow:0px 0px 2px rgba(40, 40, 40, 0.117647058823529);
  font-size:18px;
}
#u606.c {
  top:15px;
}
#u607.c {
  position:absolute;
  left:0px;
  top:3324px;
  width:1200px;
  height:100px;
}
#u608.c {
  top:3324px;
  width:1200px;
  height:100px;
}
#u608_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u609.c {
  top:42px;
  width:1196px;
}
#u610.c {
  left:1133px;
  top:3374px;
}
#u610_img.c {
}
#u611.c {
}
#u612.c {
  left:10px;
  top:3370px;
}
#u612_img.c {
}
#u613.c {
}
#u615.c {
  left:579px;
  top:3305px;
}
#u615_img.c {
}
#u616.c {
}
#u617.c {
  left:588px;
  top:3315px;
}
#u617_img.c {
}
#u618.c {
}
#u619.c {
}
#u619_img.c {
}
#u620.c {
}
#u622.c {
  left:410px;
  top:1371px;
  width:379px;
  height:379px;
}
#u622_img.c {
  width:385px;
  height:385px;
}
#u623.c {
  top:182px;
  width:375px;
}
#u624.c {
  left:413px;
  top:1372px;
  width:375px;
  height:187px;
}
#u624_img.c {
  width:375px;
  height:187px;
}
#u625.c {
  top:86px;
  width:371px;
}
#u626.c {
  left:410px;
  top:1594px;
  width:379px;
}
#u626_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u627.c {
  width:379px;
}
#u628.c {
  left:410px;
  top:1644px;
  width:378px;
}
#u628_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u629.c {
  width:378px;
}
#u630.c {
  left:410px;
  top:1705px;
  width:378px;
}
#u630_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-BoldItalic', 'Roboto Bold Italic', 'Roboto';
  font-weight:700;
  font-style:italic;
  font-size:14px;
  text-align:center;
}
#u631.c {
  width:378px;
}
#u633.c {
  left:811px;
  top:1371px;
  width:379px;
  height:379px;
}
#u633_img.c {
  width:385px;
  height:385px;
}
#u634.c {
  top:182px;
  width:375px;
}
#u635.c {
  left:814px;
  top:1372px;
  width:375px;
  height:187px;
}
#u635_img.c {
  width:375px;
  height:187px;
}
#u636.c {
  top:86px;
  width:371px;
}
#u637.c {
  left:811px;
  top:1594px;
  width:379px;
}
#u637_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u638.c {
  width:379px;
}
#u639.c {
  left:811px;
  top:1644px;
  width:378px;
}
#u639_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u640.c {
  width:378px;
}
#u641.c {
  left:811px;
  top:1705px;
  width:378px;
}
#u641_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-BoldItalic', 'Roboto Bold Italic', 'Roboto';
  font-weight:700;
  font-style:italic;
  font-size:14px;
  text-align:center;
}
#u642.c {
  width:378px;
}
#u644.c {
  left:249px;
  top:1998px;
  width:222px;
  height:215px;
}
#u644_img.c {
  width:222px;
  height:215px;
}
#u645.c {
  top:100px;
  width:218px;
}
#u646.c {
  left:249px;
  top:2077px;
  width:222px;
  height:59px;
}
#u646_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u647.c {
  top:22px;
  width:218px;
}
#u648.c {
  left:249px;
  top:2097px;
  width:222px;
}
#u648_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u649.c {
  width:222px;
}
#u651.c {
  left:489px;
  top:1998px;
  width:222px;
  height:215px;
}
#u651_img.c {
  width:222px;
  height:215px;
}
#u652.c {
  top:100px;
  width:218px;
}
#u653.c {
  left:489px;
  top:2077px;
  width:222px;
  height:59px;
}
#u653_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u654.c {
  top:22px;
  width:218px;
}
#u655.c {
  left:489px;
  top:2097px;
  width:222px;
}
#u655_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u656.c {
  width:222px;
}
#u658.c {
  left:728px;
  top:1998px;
  width:222px;
  height:215px;
}
#u658_img.c {
  width:222px;
  height:215px;
}
#u659.c {
  top:100px;
  width:218px;
}
#u660.c {
  left:728px;
  top:2077px;
  width:222px;
  height:59px;
}
#u660_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u661.c {
  top:22px;
  width:218px;
}
#u662.c {
  left:728px;
  top:2097px;
  width:222px;
}
#u662_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto-Bold', 'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u663.c {
  width:222px;
}
#u664.c {
  left:710px;
  top:2414px;
  width:400px;
  height:193px;
}
#u664_img.c {
  width:400px;
  height:193px;
}
#u665.c {
  top:88px;
  width:396px;
}
#u666.c {
  left:90px;
  top:2414px;
  width:400px;
  height:193px;
}
#u666_img.c {
  width:400px;
  height:193px;
}
#u667.c {
  top:88px;
  width:396px;
}
