
#u2146.c {
}
#u2147.c {
  left:588px;
  top:1999px;
}
#u2147_img.c {
}
#u2148.c {
}
#u2149.c {
  left:10px;
  top:949px;
  width:80px;
  height:80px;
}
#u2149_img.c {
  width:80px;
  height:80px;
}
#u2150.c {
  top:32px;
  width:76px;
}
#u2151.c {
  left:150px;
  top:950px;
}
#u2151_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u2152.c {
}
#u2153.c {
  left:150px;
  top:980px;
}
#u2153_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u2154.c {
}
#u2155.c {
  left:150px;
  top:1010px;
}
#u2155_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u2156.c {
}
#u2157.c {
  left:103px;
  top:628px;
  width:252px;
  height:34px;
}
#u2157_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2158.c {
  width:252px;
}
#u2159.c {
  left:103px;
  top:662px;
  width:252px;
  height:23px;
}
#u2159_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u2160.c {
  width:252px;
}
#u2161.c {
  left:504px;
  top:625px;
  width:252px;
  height:34px;
}
#u2161_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2162.c {
  width:252px;
}
#u2163.c {
  left:504px;
  top:660px;
  width:252px;
  height:23px;
}
#u2163_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u2164.c {
  width:252px;
}
#u2165.c {
  left:903px;
  top:625px;
  width:252px;
  height:34px;
}
#u2165_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2166.c {
  width:252px;
}
#u2167.c {
  left:903px;
  top:660px;
  width:252px;
  height:23px;
}
#u2167_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u2168.c {
  width:252px;
}
#u2169.c {
  left:155px;
  top:904px;
}
#u2169_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u2170.c {
}
#u2171.c {
  left:10px;
  top:119px;
  width:414px;
  height:327px;
}
#u2171_img.c {
  width:414px;
  height:327px;
}
#u2172.c {
  top:156px;
  width:410px;
}
#u2173.c {
  left:492px;
  top:193px;
  width:195px;
  height:45px;
}
#u2173_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:30px;
}
#u2174.c {
  width:195px;
}
#u2175.c {
  left:489px;
  top:323px;
}
#u2175_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2176.c {
}
#u2177.c {
  left:35px;
  top:460px;
  width:116px;
  height:88px;
}
#u2177_img.c {
  width:116px;
  height:88px;
}
#u2178.c {
  top:36px;
  width:112px;
}
#u2179.c {
  left:157px;
  top:460px;
  width:116px;
  height:88px;
}
#u2179_img.c {
  width:116px;
  height:88px;
}
#u2180.c {
  top:36px;
  width:112px;
}
#u2181.c {
  left:279px;
  top:460px;
  width:116px;
  height:88px;
}
#u2181_img.c {
  width:116px;
  height:88px;
}
#u2182.c {
  top:36px;
  width:112px;
}
#u2183.c {
  left:488px;
  top:291px;
  width:391px;
  height:22px;
}
#u2183_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2184.c {
  width:391px;
}
#u2185.c {
  left:490px;
  top:396px;
  width:115px;
  height:19px;
}
#u2185_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u2186.c {
  width:115px;
}
#u2187.c {
  left:489px;
  top:525px;
  width:31px;
  height:22px;
}
#u2187_img.c {
  width:31px;
  height:22px;
}
#u2188.c {
  top:3px;
  width:27px;
}
#u2189.c {
  left:531px;
  top:530px;
  width:105px;
  height:19px;
}
#u2189_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u2190.c {
  width:105px;
}
#u2191.c {
  left:710px;
  top:530px;
  width:105px;
  height:19px;
}
#u2191_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
}
#u2192.c {
  width:105px;
}
#u2193.c {
  left:668px;
  top:530px;
  width:19px;
}
#u2193_img.c {
  width:19px;
}
#u2194.c {
  width:15px;
}
#u2195.c {
  left:10px;
  top:753px;
  width:540px;
  height:32px;
}
#u2195_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Bold', 'Roboto';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u2196.c {
  width:540px;
}
#u2197.c {
  left:1001px;
  top:-343px;
}
#u2197_img.c {
}
#u2198.c {
}
#u2199.c {
  left:355px;
  top:617px;
  height:72px;
}
#u2199_img.c {
  height:73px;
}
#u2200.c {
  top:28px;
}
#u2201.c {
  left:756px;
  top:618px;
  height:72px;
}
#u2201_img.c {
  height:73px;
}
#u2202.c {
  top:28px;
}
#u2203.c {
  left:210px;
  top:917px;
  width:91px;
}
#u2203_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u2204.c {
  width:91px;
}
#u2206.c {
  left:250px;
  top:948px;
  width:21px;
  height:20px;
}
#u2206_img.c {
  width:21px;
  height:20px;
}
#u2207.c {
  top:2px;
  width:17px;
}
#u2208.c {
  left:273px;
  top:948px;
  width:21px;
  height:20px;
}
#u2208_img.c {
  width:21px;
  height:20px;
}
#u2209.c {
  top:2px;
  width:17px;
}
#u2210.c {
  left:296px;
  top:948px;
  width:21px;
  height:20px;
}
#u2210_img.c {
  width:21px;
  height:20px;
}
#u2211.c {
  top:2px;
  width:17px;
}
#u2212.c {
  left:318px;
  top:948px;
  width:21px;
  height:20px;
}
#u2212_img.c {
  width:21px;
  height:20px;
}
#u2213.c {
  top:2px;
  width:17px;
}
#u2214.c {
  left:342px;
  top:948px;
  width:21px;
  height:20px;
}
#u2214_img.c {
  width:21px;
  height:20px;
}
#u2215.c {
  top:2px;
  width:17px;
}
#u2217.c {
  left:250px;
  top:977px;
  width:21px;
  height:20px;
}
#u2217_img.c {
  width:21px;
  height:20px;
}
#u2218.c {
  top:2px;
  width:17px;
}
#u2219.c {
  left:273px;
  top:977px;
  width:21px;
  height:20px;
}
#u2219_img.c {
  width:21px;
  height:20px;
}
#u2220.c {
  top:2px;
  width:17px;
}
#u2221.c {
  left:296px;
  top:977px;
  width:21px;
  height:20px;
}
#u2221_img.c {
  width:21px;
  height:20px;
}
#u2222.c {
  top:2px;
  width:17px;
}
#u2223.c {
  left:318px;
  top:977px;
  width:21px;
  height:20px;
}
#u2223_img.c {
  width:21px;
  height:20px;
}
#u2224.c {
  top:2px;
  width:17px;
}
#u2225.c {
  left:342px;
  top:977px;
  width:21px;
  height:20px;
}
#u2225_img.c {
  width:21px;
  height:20px;
}
#u2226.c {
  top:2px;
  width:17px;
}
#u2228.c {
  left:250px;
  top:1006px;
  width:21px;
  height:20px;
}
#u2228_img.c {
  width:21px;
  height:20px;
}
#u2229.c {
  top:2px;
  width:17px;
}
#u2230.c {
  left:273px;
  top:1006px;
  width:21px;
  height:20px;
}
#u2230_img.c {
  width:21px;
  height:20px;
}
#u2231.c {
  top:2px;
  width:17px;
}
#u2232.c {
  left:296px;
  top:1006px;
  width:21px;
  height:20px;
}
#u2232_img.c {
  width:21px;
  height:20px;
}
#u2233.c {
  top:2px;
  width:17px;
}
#u2234.c {
  left:318px;
  top:1006px;
  width:21px;
  height:20px;
}
#u2234_img.c {
  width:21px;
  height:20px;
}
#u2235.c {
  top:2px;
  width:17px;
}
#u2236.c {
  left:342px;
  top:1006px;
  width:21px;
  height:20px;
}
#u2236_img.c {
  width:21px;
  height:20px;
}
#u2237.c {
  top:2px;
  width:17px;
}
#u2238.c {
  top:1160px;
  width:580px;
}
#u2238_img.c {
  width:581px;
}
#u2239.c {
  width:576px;
}
#u2240.c {
  top:491px;
  width:15px;
  height:25px;
}
#u2240_img.c {
  width:15px;
  height:25px;
}
#u2241.c {
  top:4px;
  width:11px;
}
#u2242.c {
  left:408px;
  top:490px;
  width:15px;
  height:25px;
}
#u2242_img.c {
  width:15px;
  height:25px;
}
#u2243.c {
  top:4px;
  width:11px;
}
#u2244.c {
  left:490px;
  top:280px;
  width:500px;
}
#u2244_img.c {
  width:501px;
}
#u2245.c {
  width:496px;
}
#u2246.c {
  left:490px;
  top:350px;
  width:500px;
}
#u2246_img.c {
  width:501px;
}
#u2247.c {
  width:496px;
}
#u2248.c {
  left:1155px;
  top:1680px;
  width:45px;
  height:45px;
  opacity:0.5;
}
#u2248_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2249.c {
  top:14px;
  width:41px;
}
#u2250.c {
  left:1172px;
  top:1692px;
  width:13px;
  height:21px;
}
#u2250_img.c {
  width:13px;
  height:21px;
}
#u2251.c {
  top:2px;
  width:9px;
}
#u2252.c {
  left:10px;
  top:1680px;
  width:45px;
  height:45px;
  opacity:0.5;
}
#u2252_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2253.c {
  top:14px;
  width:41px;
}
#u2254.c {
  top:1693px;
  width:13px;
  height:22px;
}
#u2254_img.c {
  width:13px;
  height:22px;
}
#u2255.c {
  top:3px;
  width:9px;
}
