
#u2160.c {
  top:28px;
}
#u2161.c {
  left:210px;
  top:917px;
  width:91px;
}
#u2161_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
}
#u2162.c {
  width:91px;
}
#u2164.c {
  left:250px;
  top:948px;
  width:21px;
  height:20px;
}
#u2164_img.c {
  width:21px;
  height:20px;
}
#u2165.c {
  top:2px;
  width:17px;
}
#u2166.c {
  left:273px;
  top:948px;
  width:21px;
  height:20px;
}
#u2166_img.c {
  width:21px;
  height:20px;
}
#u2167.c {
  top:2px;
  width:17px;
}
#u2168.c {
  left:296px;
  top:948px;
  width:21px;
  height:20px;
}
#u2168_img.c {
  width:21px;
  height:20px;
}
#u2169.c {
  top:2px;
  width:17px;
}
#u2170.c {
  left:318px;
  top:948px;
  width:21px;
  height:20px;
}
#u2170_img.c {
  width:21px;
  height:20px;
}
#u2171.c {
  top:2px;
  width:17px;
}
#u2172.c {
  left:342px;
  top:948px;
  width:21px;
  height:20px;
}
#u2172_img.c {
  width:21px;
  height:20px;
}
#u2173.c {
  top:2px;
  width:17px;
}
#u2175.c {
  left:250px;
  top:977px;
  width:21px;
  height:20px;
}
#u2175_img.c {
  width:21px;
  height:20px;
}
#u2176.c {
  top:2px;
  width:17px;
}
#u2177.c {
  left:273px;
  top:977px;
  width:21px;
  height:20px;
}
#u2177_img.c {
  width:21px;
  height:20px;
}
#u2178.c {
  top:2px;
  width:17px;
}
#u2179.c {
  left:296px;
  top:977px;
  width:21px;
  height:20px;
}
#u2179_img.c {
  width:21px;
  height:20px;
}
#u2180.c {
  top:2px;
  width:17px;
}
#u2181.c {
  left:318px;
  top:977px;
  width:21px;
  height:20px;
}
#u2181_img.c {
  width:21px;
  height:20px;
}
#u2182.c {
  top:2px;
  width:17px;
}
#u2183.c {
  left:342px;
  top:977px;
  width:21px;
  height:20px;
}
#u2183_img.c {
  width:21px;
  height:20px;
}
#u2184.c {
  top:2px;
  width:17px;
}
#u2186.c {
  left:250px;
  top:1006px;
  width:21px;
  height:20px;
}
#u2186_img.c {
  width:21px;
  height:20px;
}
#u2187.c {
  top:2px;
  width:17px;
}
#u2188.c {
  left:273px;
  top:1006px;
  width:21px;
  height:20px;
}
#u2188_img.c {
  width:21px;
  height:20px;
}
#u2189.c {
  top:2px;
  width:17px;
}
#u2190.c {
  left:296px;
  top:1006px;
  width:21px;
  height:20px;
}
#u2190_img.c {
  width:21px;
  height:20px;
}
#u2191.c {
  top:2px;
  width:17px;
}
#u2192.c {
  left:318px;
  top:1006px;
  width:21px;
  height:20px;
}
#u2192_img.c {
  width:21px;
  height:20px;
}
#u2193.c {
  top:2px;
  width:17px;
}
#u2194.c {
  left:342px;
  top:1006px;
  width:21px;
  height:20px;
}
#u2194_img.c {
  width:21px;
  height:20px;
}
#u2195.c {
  top:2px;
  width:17px;
}
#u2196.c {
  top:1160px;
  width:580px;
}
#u2196_img.c {
  width:581px;
}
#u2197.c {
  width:576px;
}
#u2198.c {
  top:491px;
  width:15px;
  height:25px;
}
#u2198_img.c {
  width:15px;
  height:25px;
}
#u2199.c {
  top:4px;
  width:11px;
}
#u2200.c {
  left:408px;
  top:490px;
  width:15px;
  height:25px;
}
#u2200_img.c {
  width:15px;
  height:25px;
}
#u2201.c {
  top:4px;
  width:11px;
}
#u2202.c {
  left:490px;
  top:280px;
  width:500px;
}
#u2202_img.c {
  width:501px;
}
#u2203.c {
  width:496px;
}
#u2204.c {
  left:490px;
  top:350px;
  width:500px;
}
#u2204_img.c {
  width:501px;
}
#u2205.c {
  width:496px;
}
#u2206.c {
  left:1155px;
  top:1680px;
  width:45px;
  height:45px;
  opacity:0.5;
}
#u2206_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207.c {
  top:14px;
  width:41px;
}
#u2208.c {
  left:1172px;
  top:1692px;
  width:13px;
  height:21px;
}
#u2208_img.c {
  width:13px;
  height:21px;
}
#u2209.c {
  top:2px;
  width:9px;
}
#u2210.c {
  left:10px;
  top:1680px;
  width:45px;
  height:45px;
  opacity:0.5;
}
#u2210_div.c {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2211.c {
  top:14px;
  width:41px;
}
#u2212.c {
  top:1693px;
  width:13px;
  height:22px;
}
#u2212_img.c {
  width:13px;
  height:22px;
}
#u2213.c {
  top:3px;
  width:9px;
}
